html {
  height: 100%;
  min-width: 80ch;
  scroll-padding-top: 100px;
}

footer {
  scroll-snap-align: start;
}

.header {
  z-index: 3;
  top: 0;
  overflow: hidden;
  position: sticky;
  border-width: 1px;
  border-color: rgb(200, 200, 250);
  border-bottom-style: solid;
  background: black;
  padding: 14px 16px;
}

.black-background {
  animation-name: fadeToBlack;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  background: black;
}

.header a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  font-size: 17px;
}

.header a:hover {
  color: rgb(200, 200, 250);
  transition: 0.5s;
}

.job {
  margin: 1rem auto;
  width: max(30ch, 60%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
  justify-content: center;
}


.job img {
  flex: 1;
  min-width: 100px;
  max-width: 40%;
  /* max-height: 100px; */
  /* width: 200px; */
  /* height: 200px; */
  /* max-width: 200px; */
}

.job-description {
  flex: 6;
  min-width: 70%
}

.job-title h3 {
  font-size: large;
}

.project-links {
  margin-left: -10px;
  color: rgba(255, 255, 255, 0.7);
  font-size: large;
  flex-direction: column;
}

#icon {
  font-size: 30px;
  justify-self: center;
  color: white;
  padding: 10px;
  text-decoration: none;
}

:target {
  border-radius: 10px;
  padding-right: 20px;
  animation-name: fadeOut;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}

@keyframes fadeOut {
  0% {
    background-color: rgba(255, 255, 255, 0.3);
  }

  100% {
    background-color: transparent;
  }
}

#penn-mobile,
#prof-graph,
#fourier,
#minigolf,
#ml,
#almost {
  gap: 90px;
  flex-direction: row;
  display: flex;
}

@media (max-width: 1350px) {
  .project-content {
    grid-template-columns: 1fr !important;
  }
}

.project-content img {
  scroll-snap-align: center;
  display: block;
  max-height: 500px;
  max-width: 600px;
  width: auto;
  height: auto;
}

.project {
  margin: 1rem auto;
  width: 70%;
}

#name {
  float: left !important;
}


#andrew {
  border-radius: 5%;
  overflow: hidden;
  margin: 30px;
  width: 80%;
  min-width: 300px;
  max-width: 500px;
}

.card {
  width: 80%;
  margin: 1rem auto;
  border-collapse: separate;
  border-radius: 30px;
  color: white;
  box-shadow: rgb(0 0 0 / 30%) 0px 1px 18px;
}

a {
  color: white;
  text-decoration-thickness: 0;
}

#intro a:hover {
  background-color: rgba(0, 0, 255, 0.3);
  transition: 0.5s;
}

#bang {
  text-align: center;
  margin-top: 100px
}

footer {
  color: white;
  justify-content: center;
  align-items: center;
  padding-bottom: 10rem;
  display: flex;
  vertical-align: middle;
}

body {
  margin: 0;
  color: white;
  font-family: "Inter";
  background: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
}

#design {
  animation-name: fadeToBlack;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  background: black;
}

#renders {
  margin: auto;
}



.render {
  display: block;
  width: 100%;
  z-index: 1;
  grid-row-start: 1;
  grid-column-start: 1;
}

.rendercontainer {
  width: 60%;
  margin: 1rem auto;
  border-radius: 1rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
}

.hoverable {
  transition: 1s;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-timing-function: ease-in;
}

.renderdescription {
  grid-row-start: 1;
  grid-column-start: 1;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  opacity: 0;
  transition: 1s;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-decoration: none;
}

.renderdescription:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#section-title {
  width: 60%;
  margin: 2rem auto;
  padding: 10px;
  border-width: 2px;
  border-bottom-style: solid;
  border-color: rgba(255, 255, 255, 0.7);
}

#button {
  background: white;
  border-radius: 5%;
  color: #8E54E9 !important;
  margin-left: 10px;
}

#button:hover {
  background: rgb(200, 200, 255);
}

h1 {
  font-size: 48px;
  line-height: 20%;

}

h2 {
  font-size: 26pt;
  font-weight: 600;
  margin: 0;
}

h3 {
  font-size: 3rem;
}

.project-title {
  margin: 0;
  font-size: 26pt;
  font-weight: 600;
}

.subtitle-row {
  display: inline-block;
  min-width: 50ch;
}

.subtitle {
  display: inline-block;
  margin: 0;
  font-size: 17pt;
  font-weight: 200;
  color: #ABABAB;
}

.project-content {
  justify-content: center;
  align-items: center;
  margin: 0 auto 20rem;
  grid-template-columns: 2fr 4fr;
}

.project-text {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.inline-icon {
  background-size: cover;
  width: 18px;
  height: 18px;
  display: inline-block;
}

.calendar {
  background-image: url('./assets/icons/calendar.svg');
}

.brackets {
  background-image: url('./assets/icons/brackets.svg');
}

.cap {
  width: 26px;
  height: 26px;
  margin: -4px;
  background-image: url('./assets/icons/cap.svg')
}

.no-overflow {
  overflow: hidden; 
}

#projects-body {
  height: 100vh;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}